/* Could use IvyTech color Scheme to make things easier */

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 10px;
}

a {
    text-decoration: none;
}

#container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#navbar {
    display: flex;
    justify-content: center;
}