<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Welcome</title>
</head>
<body>
    <!--NavBar-->
    <nav class="navbar navbar-expand-lg py-3 fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand" id="welcome-title">Home</a>
  
        <button 
          class="navbar-toggler"
          type="button" 
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
          >
          <span class="navbar-toggler-icon"></span>
          </button>
  
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/signup" class="nav-link">Student Sign In</a>
            </li>
            <li class="nav-item">
              <a href="/courseentry" class="nav-link">Instructor Course Registration</a>
            </li>
            <li class="nav-item">
              <a href="/allcourses" class="nav-link">All Courses</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <hr>
  
    <!--Student Sign Up-->
    <section id="welcome" class="p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
      <div class="container">
        <h1 class="text-center">
          Welcome to your online portal for all things course registration!
        </h1>
        <p class="p-3 p-lg-0 pt-lg-3 pb-lg-5" id="info-paragraph">
          Below you will find information about how to sign up or register a course, whether you are a student or instructor.
        </p>
      </div>
    </section>
    <hr>

    <!--Cards-->
    <section id="instructors" class="p-5">
        <div class="container">
          <h2 class="text-center text-black" style="font-weight: bold">Sign In</h2>
          <p class="lead text-center text-white mb-5" style="font-weight: bold">
            Use these links to sign into your portal.
          </p>
          <div class="row g-3">
            <!--Student Sign Up-->
            <div class="col-md-6 col-lg-4">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <i class="bi bi-backpack" style="font-size: 4em"></i>
                  <h3 class="card-title mb-3">Student Sign In</h3>
                  <p class="card-text">
                    If you're a student, use the link below to sign into your student portal and start registering for courses today.
                  </p>
                  <button type="button" class="btn btn-outline-secondary " id="portal"><a href="/signup" class="text-white mx-1" style="font-style: italic">Student Portal</a></button>
                </div>
              </div>
            </div>
            <!--Instructor Registration-->
            <div class="col-md-6 col-lg-4">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <i class="bi bi-person-badge" style="font-size: 4em"></i>
                  <h3 class="card-title mb-3">Instructor Sign In</h3>
                  <p class="card-text">
                    If you're an instructor, use the link below to register your courses to the database.
                  </p>
                  <button type="button" class="btn btn-outline-secondary" id="portal"><a href="/courseentry" class="text-white mx-1" style="font-style: italic">Instructor Portal</a></button>
                </div>
              </div>
            </div>
            <!--Courses-->
            <div class="col-md-12 col-lg-4">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <i class="bi bi-person-badge" style="font-size: 4em"></i>
                  <h3 class="card-title mb-3">All Courses</h3>
                  <p class="card-text">
                    If you're an instructor, use the link below to sign in and view/edit all courses.
                  </p>
                  <button type="button" class="btn btn-outline-secondary" id="portal"><a href="/allcourses" class="text-white" style="font-style: italic">Instructor Portal</a></button>
                </div>
              </div>
            </div>
  </body>
  <footer>&copy; SDEV 255 Group One Final Project</footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>