body::before {
    display: block;
    content: '';
    height: 60px;
  }
  
  html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: #f0ead6;
  }
  .navbar {
    background-color: #614734;
  }
  #welcome-title {
    color: #f0ead6;
  }
  .navbar-toggler {
    background-color: #9f806b;
  }
  .nav-link{
    color: #f0ead6;
  }
  #welcome{
    background-color: #778d60;
  }
  h1{
    font-weight: bold;
  }
  h3{
    color: #f0ead6;
  }
  @media(min-width: 768px){
    .news-input {
      width: 50%;
  }
}
  #navmenu {
    color: #f0ead6;
    padding: 5;
  }